#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__tech {
      margin-bottom: 1.5rem;

      &-title {
        font-size: 1.6rem;
      }

      &-container {
        display: flex;
        align-items: center;
      }

      &-item {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

// Modal

.projects-modal {
  background-color: $white-color;
  color: $dark-blue-text;
  padding: 5rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  &-close-modal {
    padding: 0 0.2rem;
    margin: 0;
    top: 3rem;
    right: 3rem;
    position: absolute;
    color: red;
    font-size: 4rem;
    line-height: 4rem;
    background: none;
    border: none;

    @include respond(phone) {
      top: 2rem;
      right: 2rem;
      font-size: 3rem;
    }
  }

  .project-modal-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__tech {
      margin-bottom: 1.5rem;

      &-title {
        font-size: 1.6rem;
      }

      &-container {
        display: flex;
        align-items: center;
      }

      &-item {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 3.5rem;
        font-size: $big-font-size;

        @include respond(phone) {
          font-size: 2.5rem;
        }
      }

      &-p {
        margin-bottom: 1.5rem;
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__modal {
      &-images-container {
        &-title {
          font-weight: bold;
          text-align: left;
          margin-bottom: 1.8rem;
          font-size: $mid-font-size;

          @include respond(phone) {
            font-size: 2rem;
          }
        }
      }
    }

    &__image {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 3rem;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
        margin-bottom: 3rem;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        margin-bottom: 3rem;
        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}
