@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/helpers";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/footer";
@import "./layout/sections";

@import "./sections/about";
@import "./sections/contact";
@import "./sections/hero";
@import "./sections/projects";
@import "./sections/experience";

@import "./vendor/css/font-awesome.min.css";

// overrides

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1900px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1610px,
// );

// @import "../../node_modules/bootstrap/scss/bootstrap";
